
.desktop-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5026px;
  overflow: hidden;
  width: 1440px;
}

.desktop-1 .overlap-group4 {
  height: 2248px;
  margin-right: -272px;
  margin-top: -9px;
  position: relative;
  width: 2070px;
}

.desktop-1 .image-3 {
  height: 548px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 1700px;
  width: 1651px;
}

.desktop-1 .rectangle-5 {
  background-color: var(--black-4);
  height: 532px;
  left: 354px;
  position: absolute;
  top: 1708px;
  width: 1440px;
}

.desktop-1 .image-2 {
  height: 988px;
  left: 356px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1496px;
}

.desktop-1 .rectangle-1 {
  background-color:
#000000a3;
  height: 984px;
  left: 358px;
  position: absolute;
  top: 9px;
  width: 1440px;
}

.desktop-1 .scroll-bar-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 961px;
  position: absolute;
  top: 909px;
  width: 2070px;
}

.desktop-1 .ellipse-1 {
  height: 493px;
  width: 2070px;
}

.desktop-1 .scroll-bar-2 {
  background-color: var(--white);
  border-radius: 64px;
  height: 396px;
  margin-right: 276px;
  margin-top: 72px;
  width: 8px;
}

.desktop-1 .text-1 {
  color:
transparent;
  font-family: var(--font-family-averta_☞-extrabold);
  font-size: var(--font-size-xxxxxl);
  font-weight: 800;
  left: 480px;
  letter-spacing: 0;
  position: absolute;
  top: 198px;
  width: 598px;
}

.desktop-1 .span1-1 {
  color: var(--christine);
  font-family: var(--font-family-averta_☞-bold);
  font-weight: 700;
}

.desktop-1 .span2 {
  color: var(--christine);
  font-weight: 800;
}

.desktop-1 .text-2 {
  color:
#ffffffb2;
  font-family: var(--font-family-averta_☞-semibold);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 489px;
  letter-spacing: 0;
  position: absolute;
  top: 629px;
  width: 411px;
}

.desktop-1 .title {
  align-items: flex-start;
  display: flex;
  height: 60px;
  left: 418px;
  min-width: 164px;
  position: absolute;
  top: 50px;
}

.desktop-1 .logo-1 {
  height: 50px;
  margin-top: 2px;
  width: 33px;
}

.desktop-1 .calls-redirect {
  color:
transparent;
  font-family: var(--font-family-averta_☞-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 9px;
  min-height: 60px;
  width: 120px;
}

.desktop-1 .span1 {
  color: var(--christine);
  font-family: var(--font-family-averta-regular_☞-regular);
  font-weight: 400;
}

.desktop-1 .overlap-group-1 {
  height: 73px;
  left: 489px;
  position: absolute;
  top: 777px;
  width: 283px;
}

.desktop-1 .rectangle-2 {
  background-color: var(--christine);
  border-radius: 30px;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 275px;
}

.desktop-1 .get-it-now {
  color: var(--white);
  font-family: var(--font-family-averta_☞-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
  width: 236px;
}

.desktop-1 .menu {
  align-items: flex-end;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  left: 1622px;
  min-width: 116px;
  position: absolute;
  top: 57px;
  transform: rotate(180deg);
}

.desktop-1 .menu-1 {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 63px;
  transform: rotate(180deg);
}

.desktop-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -1.5px;
  margin-left: 12px;
  min-height: 20px;
  width: 39px;
}

.desktop-1 .line-1 {
  height: 5px;
  margin-left: 0.26px;
  transform: rotate(-180deg);
  width: 39px;
}

.desktop-1 .line-2 {
  height: 5px;
  margin-top: 10px;
  transform: rotate(-180deg);
  width: 26px;
}

.desktop-1 .text-3 {
  left: 687px;
  letter-spacing: 0;
  position: absolute;
  top: 993px;
  width: 830px;
}

.desktop-1 .select-country {
  left: 477px;
  letter-spacing: 0;
  position: absolute;
  top: 1865px;
  width: 289px;
}

.desktop-1 .enter-area-code {
  left: 477px;
  letter-spacing: 0;
  position: absolute;
  top: 2005px;
  width: 310px;
}

.desktop-1 .startups {
  left: 564px;
  letter-spacing: 0;
  position: absolute;
  top: 1209px;
  width: 181px;
}

.desktop-1 .surname {
  left: 1064px;
  letter-spacing: 0;
  position: absolute;
  top: 1209px;
  width: 230px;
}

.desktop-1 .enterprises {
  left: 1526px;
  letter-spacing: 0;
  position: absolute;
  top: 1209px;
  width: 230px;
}

.desktop-1 .learn-more {
  left: 564px;
  letter-spacing: 0;
  position: absolute;
  top: 1255px;
  width: 109px;
}

.desktop-1 .learn-more-1 {
  left: 1064px;
  letter-spacing: 0;
  position: absolute;
  top: 1255px;
  width: 109px;
}

.desktop-1 .learn-more-2 {
  left: 1526px;
  letter-spacing: 0;
  position: absolute;
  top: 1255px;
  width: 109px;
}

.desktop-1 .radix-iconsrocket {
  height: 85px;
  left: 462px;
  position: absolute;
  top: 1204px;
  width: 85px;
}

.desktop-1 .uilsuitcase-alt {
  height: 89px;
  left: 959px;
  position: absolute;
  top: 1198px;
  width: 89px;
}

.desktop-1 .search-your-number {
  left: 711px;
  letter-spacing: 0;
  position: absolute;
  top: 1448px;
  width: 793px;
}

.desktop-1 .rectangle-3 {
  background-color: var(--black-5);
  border-radius: 50px;
  height: 61px;
  left: 830px;
  position: absolute;
  top: 1865px;
  width: 376px;
}

.desktop-1 .rectangle-4 {
  background-color: var(--black-5);
  border: 1px solid var(--christine);
  border-radius: 50px;
  height: 61px;
  left: 830px;
  position: absolute;
  top: 2005px;
  width: 376px;
}

.desktop-1 .place {
  left: 922px;
  letter-spacing: 0;
  position: absolute;
  top: 1881px;
  width: 191px;
}

.desktop-1 .number {
  left: 998px;
  letter-spacing: 0;
  position: absolute;
  top: 2020px;
  width: 63px;
}

.desktop-1 .text-4 {
  color: var(--black-4);
  font-family: var(--font-family-averta_☞-semibold);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 657px;
  letter-spacing: 0;
  position: absolute;
  top: 1615px;
  width: 901px;
}

.desktop-1 .group-3 {
  height: 82px;
  left: 1319px;
  position: absolute;
  top: 1932px;
  width: 283px;
}

.desktop-1 .scroll-bar-3 {
  align-items: flex-end;
  display: flex;
  height: 96px;
  justify-content: flex-end;
  left: 1085px;
  min-width: 8px;
  position: absolute;
  top: 1504px;
  transform: rotate(-90.00deg);
}

.desktop-1 .scroll-bar {
  background-color: var(--christine);
  border-radius: 64px;
  height: 96px;
  margin-bottom: 0;
  width: 8px;
}

.desktop-1 .scroll-bar-4 {
  background-color: var(--christine);
  border-radius: 64px;
  height: 96px;
  left: 1085px;
  position: absolute;
  top: 1044px;
  transform: rotate(-90.00deg);
  width: 8px;
}

.desktop-1 .group-6 {
  height: 68px;
  left: 1440px;
  position: absolute;
  top: 1205px;
  width: 63px;
}

.desktop-1 .overlap-group5 {
  height: 791px;
  margin-right: -184.0px;
  margin-top: 299px;
  position: relative;
  width: 1504px;
}

.desktop-1 .group-11 {
  align-items: flex-end;
  display: flex;
  height: 79px;
  left: -198px;
  min-width: 475px;
  padding: 0 0.0px;
  position: absolute;
  top: 362px;
  transform: rotate(-90.00deg);
}

.desktop-1 .all-features {
  letter-spacing: 0;
  margin-bottom: 0;
  min-height: 79px;
  width: 473px;
}

.desktop-1 .overlap-group2 {
  height: 791px;
  left: 124px;
  position: absolute;
  top: 0;
  width: 1380px;
}

.desktop-1 .overlap-group {
  height: 791px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1380px;
}

.desktop-1 .shadow {
  height: 9px;
  left: 0;
  position: absolute;
  top: 782px;
  width: 1380px;
}

.desktop-1 .mac-book-pro-16 {
  height: 788px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 1332px;
}

.desktop-1 .logo {
  height: 10px;
  left: 652px;
  position: absolute;
  top: 727px;
  width: 76px;
}

.desktop-1 .frame-1-1 {
  height: 713px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1116px;
}

.desktop-1 .title-1 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  left: 1164px;
  min-width: 110px;
  position: absolute;
  top: 113px;
}

.desktop-1 .logo-1-1 {
  height: 39px;
  width: 26px;
}

.desktop-1 .calls-redirect-1 {
  align-self: flex-end;
  color:
transparent;
  font-family: var(--font-family-averta_☞-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 7px;
  min-height: 49px;
  width: 75px;
}

.desktop-1 .span0 {
  color:
#000000d1;
  font-weight: 700;
}

.desktop-1 .scroll-bar-5 {
  background-color: var(--christine);
  border-radius: 64px;
  height: 96px;
  left: 93px;
  position: absolute;
  top: 311px;
  transform: rotate(180.00deg);
  width: 8px;
}

.desktop-1 .overlap-group7 {
  align-self: center;
  height: 82px;
  margin-left: 20.0px;
  margin-top: 242px;
  position: relative;
  width: 922px;
}

.desktop-1 .text-5 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 920px;
}

.desktop-1 .scroll-bar-6 {
  align-items: flex-end;
  display: flex;
  height: 96px;
  justify-content: flex-end;
  left: 401px;
  min-width: 8px;
  position: absolute;
  top: 30px;
  transform: rotate(-90.00deg);
}

.desktop-1 .flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 419px;
  margin-left: 134.0px;
  margin-top: 136px;
  min-width: 1086px;
}

.desktop-1 .image-4 {
  height: 340px;
  object-fit: cover;
  width: 227px;
}

.desktop-1 .customer-reviews {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 62px;
  min-height: 354px;
  width: 797px;
}

.desktop-1 .text-6 {
  color: var(--black-3);
  font-family: var(--font-family-averta-regular_☞-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 176px;
  width: 793px;
}

.desktop-1 .text-7 {
  color: var(--christine);
  font-family: var(--font-family-averta-regular_☞-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 40px;
  min-height: 44px;
}

.desktop-1 .flex-row-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 290.0px;
  margin-top: 50px;
  min-width: 127px;
}

.desktop-1 .right-arrow-2 {
  height: 44px;
  object-fit: cover;
  width: 44px;
}

.desktop-1 .right-arrow-1 {
  height: 44px;
  margin-left: 39px;
  object-fit: cover;
  width: 44px;
}

.desktop-1 .overlap-group6 {
  height: 810px;
  margin-right: -86px;
  margin-top: 88px;
  position: relative;
  width: 1527px;
}

.desktop-1 .vector {
  height: 28px;
  left: 833px;
  position: absolute;
  top: 0;
  width: 19px;
}

.desktop-1 .overlap-group3 {
  height: 793px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 1527px;
}

.desktop-1 .rectangle-5-1 {
  background-color: var(--black);
  height: 793px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1526px;
}

.desktop-1 .haspr {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 1123px;
  min-height: 125px;
  position: absolute;
  top: 582px;
  width: 214px;
}

.desktop-1 .logo-2 {
  height: 42px;
  margin-right: 5.14px;
  width: 60px;
}

.desktop-1 .text-8 {
  align-self: flex-start;
  letter-spacing: 0.84px;
  margin-top: 10px;
  min-height: 50px;
  min-width: 209px;
  text-align: right;
}

.desktop-1 .span0-1 {
  letter-spacing: 0.20px;
}

.desktop-1 .span1-2 {
  color: var(--white);
  font-family: var(--font-family-averta-regular_☞-regular);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.11px;
}

.desktop-1 .wwwhasprin {
  color: var(--white);
  font-family: var(--font-family-averta_☞-semibold);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 4px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 113px;
  text-align: center;
}

.desktop-1 .say-hi {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 958px;
  min-height: 207px;
  position: absolute;
  top: 93px;
  width: 390px;
}

.desktop-1 .why-be-shy {
  color: var(--white);
  font-family: var(--font-family-averta_☞-thin);
  font-size: 72px;
  font-weight: 100;
  letter-spacing: 0;
  min-height: 88px;
  min-width: 374px;
  text-align: center;
  text-decoration: line-through;
}

.desktop-1 .title-2 {
  align-self: flex-end;
  color:
transparent;
  font-family: var(--font-family-averta-regular_☞-regular);
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 4px;
  min-height: 119px;
  min-width: 281px;
  text-align: center;
}

.desktop-1 .span0-2 {
  color: var(--white);
}

.desktop-1 .span1-3 {
  color: var(--christine);
}

.desktop-1 .contact-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 621px;
  position: absolute;
  top: 92px;
  width: 827px;
}

.desktop-1 .flex-row-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 35px;
  margin-left: 91px;
  min-width: 427px;
}

.desktop-1 .place-1 {
  letter-spacing: 0;
  min-height: 35px;
  text-align: center;
  width: 184px;
}

.desktop-1 .terms-of-use {
  letter-spacing: 0;
  margin-left: 59px;
  min-height: 35px;
  text-align: center;
  width: 184px;
}

.desktop-1 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 35px;
  margin-right: 214.0px;
  margin-top: 35px;
  min-width: 345px;
}

.desktop-1 .features {
  letter-spacing: 0;
  min-height: 35px;
  text-align: center;
  width: 134px;
}

.desktop-1 .about-us {
  letter-spacing: 0;
  margin-left: 80px;
  min-height: 35px;
  text-align: center;
  width: 131px;
}

.desktop-1 .support {
  letter-spacing: 0;
  min-height: 35px;
  text-align: center;
  width: 134px;
}

.desktop-1 .career {
  letter-spacing: 0;
  margin-left: 80px;
  min-height: 35px;
  text-align: center;
  width: 131px;
}

.desktop-1 .text-9 {
  letter-spacing: 0;
  margin-right: 155.0px;
  margin-top: 117px;
  min-height: 45px;
  text-align: center;
  width: 442px;
}

.desktop-1 .line-3 {
  height: 1px;
  margin-left: 69.0px;
  margin-top: 11px;
  width: 444px;
}

.desktop-1 .text-10 {
  letter-spacing: 0;
  margin-right: 167.0px;
  margin-top: 21px;
  min-height: 45px;
  text-align: center;
  width: 430px;
}

.desktop-1 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  margin-right: 170.0px;
  margin-top: 71px;
  min-width: 427px;
}

.desktop-1 .privacy-policy {
  letter-spacing: 0;
  min-height: 35px;
  text-align: center;
  width: 184px;
}

.desktop-1 .text-11 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-top: 66px;
  min-height: 35px;
  text-align: center;
  width: 805px;
}

.desktop-1 .socials {
  align-items: center;
  display: flex;
  height: 120px;
  left: 1123px;
  min-width: 210px;
  position: absolute;
  top: 389px;
}

.desktop-1 .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  width: 146px;
}

.desktop-1 .linked-in {
  letter-spacing: 1.26px;
  min-height: 44px;
  min-width: 146px;
  text-align: right;
  text-decoration: underline;
}

.desktop-1 .twitter {
  letter-spacing: 1.26px;
  margin-top: 32px;
  min-height: 44px;
  min-width: 118px;
  text-align: right;
  text-decoration: underline;
}

.desktop-1 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  min-height: 110px;
  width: 34px;
}

.desktop-1 .image-1 {
  height: 34px;
  object-fit: cover;
  width: 34px;
}

.desktop-1 .image-1-1 {
  height: 34px;
  margin-top: 42px;
  object-fit: cover;
  width: 34px;
}

.desktop-1 .scroll-bar-7 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 177px;
  min-width: 4px;
  position: absolute;
  top: 101px;
  transform: rotate(-90.00deg);
}

.desktop-1 .scroll-bar-8 {
  background-color: var(--white);
  border-radius: 64px;
  height: 56px;
  margin-bottom: 0;
  width: 4px;
}

@font-face {
  font-family: "Averta ☞-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts.animaapp.com/Averta☞-ExtraBold") format("opentype");
}
@font-face {
  font-family: "Averta ☞-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Averta☞-Bold") format("opentype");
}
@font-face {
  font-family: "Averta ☞-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Averta☞-Semibold");
}
@font-face {
  font-family: "Averta-Regular ☞-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Averta-Regular☞-Regular") format("opentype");
}
@font-face {
  font-family: "Averta ☞-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/Averta☞-Light") format("opentype");
}
@font-face {
  font-family: "Averta ☞-Thin";
  font-style: normal;
  font-weight: 100;
  src: url("https://fonts.animaapp.com/Averta☞-Thin") format("opentype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

:root {
  --black-5:
rgba(0, 0, 0, 0.49);
  --black-4:
rgba(0, 0, 0, 0.6);
  --black-2:
rgba(0, 0, 0, 0.659);
  --black-3:
rgba(0, 0, 0, 0.8);
  --black:
rgba(0, 0, 0, 1);
  --christine:
rgba(229, 103, 23, 1);
  --white-2:
rgba(255, 255, 255, 0.6);
  --white:
rgba(255, 255, 255, 1);

  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 28px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 36px;
  --font-size-xxxxl: 40px;
  --font-size-xxxxxl: 80px;

  --font-family-averta-regular_☞-regular: "Averta-Regular ☞-Regular";
  --font-family-averta_☞-bold: "Averta ☞-Bold";
  --font-family-averta_☞-extrabold: "Averta ☞-ExtraBold";
  --font-family-averta_☞-light: "Averta ☞-Light";
  --font-family-averta_☞-semibold: "Averta ☞-Semibold";
  --font-family-averta_☞-thin: "Averta ☞-Thin";
}


.averta-normal-black-80px {
  color: var(--black-3);
  font-family: var(--font-family-averta_☞-semibold);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  font-style: normal;
}

.averta-normal-christine-30px {
  color: var(--christine);
  font-family: var(--font-family-averta_☞-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}

.averta-bold-black-30px {
  color: var(--black-2);
  font-family: var(--font-family-averta_☞-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.averta-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-averta_☞-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}

.averta-light-white-40px {
  color: var(--white);
  font-family: var(--font-family-averta_☞-light);
  font-size: var(--font-size-xxxxl);
  font-weight: 300;
  font-style: normal;
}

.averta-regular-regular-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-averta-regular_☞-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}

.averta-light-black-20px {
  color: var(--black-2);
  font-family: var(--font-family-averta_☞-light);
  font-size: var(--font-size-m);
  font-weight: 300;
  font-style: normal;
}

.averta-normal-white-28px {
  color: var(--white-2);
  font-family: var(--font-family-averta_☞-semibold);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}

.averta-extra-extra-bold-white-80px {
  color: var(--white);
  font-family: var(--font-family-averta_☞-extrabold);
  font-size: var(--font-size-xxxxxl);
  font-weight: 800;
  font-style: normal;
}

.averta-light-white-36px {
  color: var(--white);
  font-family: var(--font-family-averta_☞-light);
  font-size: var(--font-size-xxxl);
  font-weight: 300;
  font-style: normal;
}
